Repository dotnet/upgrade-assistant, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/dotnet-upgrade-assistant-admin, @dotnet/dotnet-upgrade-assistant-maui, @dotnet/dotnet-upgrade-assistant-uwp, @dotnet/dotnet-upgrade-assistant-wcf

Adding link to WCF docs
  docs/wcf_support.md
Owners: @dotnet/dotnet-upgrade-assistant-wcf, @dotnet/dotnet-upgrade-assistant-admin

Add WCF support documentation (#1287)
  docs/wcf_support.md
Owners: @dotnet/dotnet-upgrade-assistant-wcf, @dotnet/dotnet-upgrade-assistant-admin

Update CHANGELOG for 0.4.346201 release
  CHANGELOG.md
Owners: @dotnet/dotnet-upgrade-assistant-admin

Didn't want changelog changes to trigger full builds, either.
  azure-pipeline.yml
Owners: @dotnet/dotnet-upgrade-assistant-admin

Update CHANGELOG for 0.4.346201 release (#1295)
  CHANGELOG.md
  azure-pipeline.yml
Owners: @dotnet/dotnet-upgrade-assistant-admin

Fix integration tests
  tests/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Backup.Tests/BackupStepTests.cs
  tests/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.ProjectFormat.Tests/TryConvertStepTests.cs
  tests/tool/Integration.Tests/E2ETest.cs
  tests/tool/Integration.Tests/IntegrationScenarios/AspNetSample/csharp/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/MauiSample/droid/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/MauiSample/ios/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/PCL/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WCFSample/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WebLibrary/csharp/Upgraded/UpgradeReport.sarif
Owners: @dotnet/dotnet-upgrade-assistant-admin

Print file diff for debugging
  tests/tool/Integration.Tests/E2ETest.cs
Owners: @dotnet/dotnet-upgrade-assistant-admin

Address PR feedback
  src/common/Microsoft.DotNet.UpgradeAssistant.Abstractions/IUpgradeContextExtensions.cs
  src/common/Microsoft.DotNet.UpgradeAssistant.Abstractions/WellKnownDocumentationUrls.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Backup/BackupStep.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Packages/PackageUpdaterStep.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Source/CodeFixerStep.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Templates/TemplateInserterStep.cs
  src/extensions/try-convert/Microsoft.DotNet.UpgradeAssistant.Extensions.TryConvert/SetTFMStep.cs
  src/extensions/try-convert/Microsoft.DotNet.UpgradeAssistant.Extensions.TryConvert/TryConvertRunner.cs
  src/extensions/windows/Microsoft.DotNet.UpgradeAssistant.Extensions.Windows/WindowsDesktopUpdaterSubStep.cs
  tests/tool/Integration.Tests/E2ETest.cs
  tests/tool/Integration.Tests/IntegrationScenarios/AspNetSample/csharp/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/MauiSample/droid/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/MauiSample/ios/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/PCL/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WebLibrary/csharp/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WpfSample/csharp/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WpfSample/vb/Upgraded/UpgradeReport.sarif
Owners: @dotnet/dotnet-upgrade-assistant-admin, @dotnet/dotnet-upgrade-assistant-uwp

Add context result from step
  src/common/Microsoft.DotNet.UpgradeAssistant.Abstractions/IUpgradeContextExtensions.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Backup/BackupStep.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Packages/PackageUpdaterStep.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Source/CodeFixerStep.cs
  src/extensions/default/Microsoft.DotNet.UpgradeAssistant.Steps.Templates/TemplateInserterStep.cs
  src/extensions/try-convert/Microsoft.DotNet.UpgradeAssistant.Extensions.TryConvert/SetTFMStep.cs
  src/extensions/try-convert/Microsoft.DotNet.UpgradeAssistant.Extensions.TryConvert/TryConvertProjectConverterStep.cs
  src/extensions/try-convert/Microsoft.DotNet.UpgradeAssistant.Extensions.TryConvert/TryConvertRunner.cs
  src/extensions/windows/Microsoft.DotNet.UpgradeAssistant.Extensions.Windows/WindowsDesktopUpdaterSubStep.cs
  tests/tool/Integration.Tests/IntegrationScenarios/AspNetSample/csharp/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/MauiSample/droid/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/MauiSample/ios/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/PCL/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WCFSample/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WebLibrary/csharp/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WpfSample/csharp/Upgraded/UpgradeReport.sarif
  tests/tool/Integration.Tests/IntegrationScenarios/WpfSample/vb/Upgraded/UpgradeReport.sarif
Owners: @dotnet/dotnet-upgrade-assistant-admin, @dotnet/dotnet-upgrade-assistant-uwp

.github/CODEOWNERS:

# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

*                        @dotnet/dotnet-upgrade-assistant-admin

*maui*                   @dotnet/dotnet-upgrade-assistant-maui @dotnet/dotnet-upgrade-assistant-admin
/src/extensions/maui/    @dotnet/dotnet-upgrade-assistant-maui @dotnet/dotnet-upgrade-assistant-admin

*uwp*                    @dotnet/dotnet-upgrade-assistant-uwp @dotnet/dotnet-upgrade-assistant-admin
/src/extensions/windows/ @dotnet/dotnet-upgrade-assistant-uwp @dotnet/dotnet-upgrade-assistant-admin

*wcf*                    @dotnet/dotnet-upgrade-assistant-wcf @dotnet/dotnet-upgrade-assistant-admin
/src/extensions/wcf/     @dotnet/dotnet-upgrade-assistant-wcf @dotnet/dotnet-upgrade-assistant-admin
